node_modules/
dist/
out-tsc/
.angular/
coverage/
*.tsbuildinfo

.env
.env.*
!.env.example

*.sqlite
*.sqlite-journal
*.db
data/
infra/volumes/

.DS_Store
Thumbs.db
*.log
npm-debug.log*
pnpm-debug.log*

.idea/
.vscode/*
!.vscode/extensions.json
